
/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
h2 {
  color: #a5d549;
}

.primary-btn:hover, .primary-btn:focus {
  color: #a5d549;
  border-color: #a5d549;
}

.secondary-btn {
  background-color: #a5d549;
}

.view-btn {
  background-color: #a5d549;
}
.view-btn:hover, .view-btn:focus {
  color: #a5d549;
}

.scrollToTop {
  background-color: #a5d549;
  border: 2px solid #a5d549;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #a5d549;
}

.pulse:before, .pulse:after {
  border: 5px solid #a5d549;
}

#menu-area .main-navbar .navbar-header .logo span {
  color: #a5d549;
}
#menu-area .main-navbar .navbar-nav li a:hover, #menu-area .main-navbar .navbar-nav li a:focus {
  color: #a5d549;
}
#menu-area .main-navbar .navbar-nav .active a {
  color: #a5d549;
}
#menu-area .main-navbar .navbar-nav .open a {
  color: #a5d549;
}
#menu-area .main-navbar .navbar-nav .dropdown-menu li a:hover, #menu-area .main-navbar .navbar-nav .dropdown-menu li a:focus {
  color: #a5d549;
}

#slider .slider-area .top-slider .slick-prev:hover,
#slider .slider-area .top-slider .slick-next:hover {
  background-color: #a5d549;
}
#slider .slider-area .top-slider .top-slider-price {
  color: #a5d549;
}
#slider .slider-area .top-slider .top-slider-btn:hover, #slider .slider-area .top-slider .top-slider-btn:focus {
  color: #a5d549;
}

#advance-search .advance-search-area .advance-search-top .single-advance-search .search-btn {
  background-color: #a5d549;
}

.single-filter-search .noUi-connect {
  background-color: #a5d549;
}
.single-filter-search .noUi-handle {
  background-color: #a5d549;
}

.title span {
  background-color: #a5d549;
}
.title span:before {
  background-color: #a5d549;
}
.title span:after {
  background-color: #a5d549;
}

.properties-item .for-sale {
  background-color: #a5d549;
}

#service .service-area .service-content .single-service .service-icon span {
  background-color: #a5d549;
}
#service .service-area .service-content .single-service .single-service-content h4 a:hover {
  color: #a5d549;
}

#agents .agents-area .agents-content .agents-slider li .single-agents .agetns-info {
  background-color: #a5d549;
}
#agents .agents-area .agents-content .agents-slider li .single-agents .agetns-info .agent-social a:hover, #agents .agents-area .agents-content .agents-slider li .single-agents .agetns-info .agent-social a:focus {
  color: #a5d549;
}

#client-testimonial .client-testimonial-area .testimonial-content .testimonial-slider li .testimonial-single .testimonial-info p:before {
  color: #a5d549;
}

.blog-single .date-tag {
  background-color: #a5d549;
}
.blog-single .blog-single-content h3 a:hover, .blog-single .blog-single-content h3 a:focus {
  color: #a5d549;
}
.blog-single .blog-single-bottom .blog-author:hover, .blog-single .blog-single-bottom .blog-author:focus {
  color: #a5d549;
}
.blog-single .blog-single-bottom .blog-comments:hover, .blog-single .blog-single-bottom .blog-comments:focus {
  color: #a5d549;
}

#footer .footer-area .footer-left p a:hover, #footer .footer-area .footer-left p a:focus {
  color: #a5d549;
}
#footer .footer-area .footer-middle a:hover, #footer .footer-area .footer-middle a:focus {
  color: #a5d549;
  border-color: #a5d549;
}
#footer .footer-area .footer-right a:hover, #footer .footer-area .footer-right a:focus {
  color: #a5d549;
}

#property-header .property-header-inner .breadcrumb li.active {
  color: #a5d549;
}

#properties .properties-content .properties-content-head .properties-content-head-right a:hover, #properties .properties-content .properties-content-head .properties-content-head-right a:focus {
  color: #a5d549;
  border-color: #a5d549;
}
#properties .properties-sidebar .properties-single-sidebar .single-advance-search .search-btn {
  background-color: #a5d549;
}
#properties .properties-sidebar .properties-single-sidebar .media .media-body h4 a:hover {
  color: #a5d549;
}

.properties-content-bottom .pagination li a:hover, .properties-content-bottom .pagination li a:focus {
  background-color: #a5d549;
  border-color: #a5d549;
}
.properties-content-bottom .pagination .active a {
  background-color: #a5d549;
}

.properties-details .properties-details-img .slick-prev, .properties-details .properties-details-img .slick-next {
  background-color: #a5d549;
}
.properties-details .properties-info ul li:before {
  color: #a5d549;
}

.properties-social ul li a:hover, .properties-social ul li a:focus {
  color: #a5d549;
  border-color: #a5d549;
}

#blog .blog-area .blog-sidebar .blog-sidebar-single .blog-search .search-text:focus {
  border-color: #a5d549;
}
#blog .blog-area .blog-sidebar .blog-sidebar-single .blog-search .search-submit:hover, #blog .blog-area .blog-sidebar .blog-sidebar-single .blog-search .search-submit:focus {
  color: #a5d549;
}
#blog .blog-area .blog-sidebar .blog-sidebar-single .blog-catg li a:hover, #blog .blog-area .blog-sidebar .blog-sidebar-single .blog-catg li a:focus {
  color: #a5d549;
}
#blog .blog-area .blog-sidebar .blog-sidebar-single .tag-cloud a:hover, #blog .blog-area .blog-sidebar .blog-sidebar-single .tag-cloud a:focus {
  background-color: #a5d549;
  border-color: #a5d549;
}
#blog .blog-area .blog-sidebar .blog-sidebar-single .blog-recent-post .media .media-body .media-heading a:hover, #blog .blog-area .blog-sidebar .blog-sidebar-single .blog-recent-post .media .media-body .media-heading a:focus {
  color: #a5d549;
}

.blog-details .blog-single-content h1,
.blog-details .blog-single-content h3,
.blog-details .blog-single-content h4 {
  color: #a5d549;
  font-weight: bold;
}

.blog-navigation .blog-pagination-left .prev:hover, .blog-navigation .blog-pagination-left .prev:focus {
  color: #a5d549;
  border-color: #a5d549;
}
.blog-navigation .blog-pagination-right .next:hover, .blog-navigation .blog-pagination-right .next:focus {
  color: #a5d549;
  border-color: #a5d549;
}

.comments-area .comments .commentlist li .reply-btn:hover, .comments-area .comments .commentlist li .reply-btn:focus {
  color: #a5d549;
  border-color: #a5d549;
}
.comments-area .comments .commentlist li .author-tag {
  background-color: #a5d549;
}

#respond input[type="text"]:focus,
#respond input[type="email"]:focus,
#respond input[type="url"]:focus {
  border: 1px solid #a5d549;
}
#respond textarea:focus {
  border: 1px solid #a5d549;
}
#respond .form-submit input:hover {
  color: #a5d549;
  border-color: #a5d549;
}

#contact .contact-area .contact-bottom .contact-form input[type="text"]:focus,
#contact .contact-area .contact-bottom .contact-form input[type="email"]:focus,
#contact .contact-area .contact-bottom .contact-form input[type="url"]:focus {
  border: 2px solid #a5d549;
}
#contact .contact-area .contact-bottom .contact-form textarea:focus {
  border: 2px solid #a5d549;
}
#contact .contact-area .contact-bottom .contact-form .form-submit input:hover {
  color: #a5d549;
  border: 2px solid #a5d549;
}

#error .error-area h2 {
  border: 3px solid #a5d549;
}
#error .error-area h2:before {
  border: 3px solid #a5d549;
}
#error .error-area a:hover, #error .error-area a:focus {
  color: #a5d549;
  border-color: #a5d549;
}

#gallery .gallery-area .gallery-content .gallery-top ul li:hover, #gallery .gallery-area .gallery-content .gallery-top ul li:focus {
  background-color: #a5d549;
  border-color: #a5d549;
}
#gallery .gallery-area .gallery-content .gallery-top ul .active {
  background-color: #a5d549;
  border-color: #a5d549;
}
#gallery .gallery-area .gallery-content .gallery-body .single-gallery .single-gallery-item .single-gallery-info a:hover, #gallery .gallery-area .gallery-content .gallery-body .single-gallery .single-gallery-item .single-gallery-info a:focus {
  color: #a5d549;
  border-color: #a5d549;
}

#login .login-area .login-form .single-submit input[type="submit"] {
  background-color: #a5d549;
  border: 2px solid #a5d549;
}
#login .login-area .login-form .single-submit input[type="submit"]:hover {
  color: #a5d549;
  border-color: #a5d549;
}

.navbar-default .navbar-toggle {
  border-color: #a5d549;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #a5d549;
}


/*=======================================
Template Design By MarkUps.
Author URI : http://www.markups.io/
========================================*/
