<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Bất Động Sản 21 | <%= title %></title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/shortcut.png" type="image/x-icon">
    
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">   
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/nouislider.css">
    <!-- Fancybox slider -->
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css" type="text/css" media="screen" /> 
    <!-- Theme color -->
    <link id="switcher" href="/stylesheets/theme-color/default-theme.css" rel="stylesheet">     
    <!-- Swiper -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Main style sheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">    

   
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    

  </head>